<div class="footer" id="footer">
    <div class="footer-content">
      <div class="center">
        <div class="vstack" style="text-align: center;">
          <div class="text" style="font-size: small; color: white;">
            &copy; 2023 My Web. All rights reserved.
          </div>
          <div class="text" style="font-size: small; color: white; margin-top: 2rem;">
            Made with ❤️ by
              Pritam Halder
          </div>
        </div>
        <div class="hstack" style="margin-top: 1rem;">
          <a href="https://github.com/Halderpritam123" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github" style="color:white;"></i>
          </a>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <a href="https://www.linkedin.com/in/pritamhalder62/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin" style="color:white;"></i>
          </a>
        </div>
        <p style="color: white;">pritampritamhalder@gmail.com</p>
        <div class="text" style="font-size: small; color: white; margin-top: 4rem;">
          Check out my
          <a href="https://drive.google.com/file/d/1Cov_u6s7a0na_lUFae06XkbdcOH5HfaK/view?usp=sharing"
            target="_blank"
            rel="noopener noreferrer"
            style="color: white; font-weight: bold;">
            resume
          </a>
          and
          <a href="https://halderpritam123.github.io/"
            target="_blank"
            rel="noopener noreferrer"
            style="color: white; font-weight: bold;">
            portfolio
          </a>
          to know more about me. I'm open to new opportunities and excited to work with you!
        </div>
      </div>
    </div>
  </div>
  